*{
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
}

body{
    background-color: #030303;
}

h1{
    font-family: 'Jura', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin: auto;
    color: white;
}

h2{
    font-family: 'Jura', sans-serif;
    color: white;
}

h3{
    color: white;
    font-family: 'Jura', sans-serif;
    font-weight: 400;
}

h4{
    font-family: 'Spinnaker', sans-serif;
    margin: auto;
    font-weight: 200;
    color: white; 
}

p{
    font-family: 'Exo', sans-serif;
    margin: auto;
    font-weight: 200;
    color: white;
}

a{
    color:white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

a:hover 
{
    color: rgb(146, 146, 146); 
    text-decoration:none; 
    cursor:pointer;  
}

#symbol{
    position: absolute;
    top: 46%;
    left: 16%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    font-size: 38px;
    font-weight: 300;
}

#loading-screen{
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    padding: 8rem;
    z-index: 1001;
    opacity: 0.8;
}

.loader{
    background-color: black;
    position: relative;
    top: 32%;
    left: 45%;
    width: 350px;
}

.signature{
    stroke-dasharray: 200;
    stroke-dashoffset: 800;
    animation: sign 16s linear;
}

@keyframes sign{
    to{
        stroke-dashoffset: 0;
    }
}

#navBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: black;
}

#navBar h3{
    font-family: 'Jura', sans-serif;
}

#navBar div{
    margin: 25px 45px;
}

.cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.beside-content{
    margin-left: 40px;
}

#sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
}

#sidebar div{
    margin-top: 30px;
    margin-bottom: 70px;
}

.works-icon{
    stroke-width: 1.5px;
}

.contents{
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 120px;
    margin-left: 80px;
    z-index: 1000;
}

.name{
    width: 40rem;
}

.intro{
    margin-top: 1.5rem;
    margin-bottom: 8rem;
    padding-right: 4px;
    text-align: left;
}

.hello{
    overflow: hidden;
    animation: introduce 17s steps(93);
    white-space: nowrap;
    width: 64.3ch;
    border-right: 2px solid white;
}

@keyframes introduce{
    0%{
      width: 0ch;
    }
    100%{
        width: 64.3ch;
    }
}

#sets{
    display: flex;
    flex-direction: row;
}

#sets div{
    margin-right: 70px;
}

.split{
    display: flex;
    flex-direction: row;
}

.line{
    stroke-dasharray: 80;
    stroke-dashoffset: 80;
    animation: underline 8s linear;
    animation-iteration-count: infinite;
}

.line2{
    stroke-dasharray: 80;
    stroke-dashoffset: 80;
    animation: underline 8s linear;
    animation-iteration-count: infinite;
}

@keyframes underline {
    to{
        stroke-dashoffset: 0;
    }
}

.split-list{
    margin-right: 60px;
}

.split-list p{
    font-family: 'Exo', sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
}

.works-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 94px 30px 30px 100px;
}

.icon:hover{
    cursor: pointer;
}

.portfolio:hover{
    cursor: pointer;
}

.place{
    stroke: white;
}

#line{
   
}

/* Services Page */



#servicesContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.panel{
    margin-left: 70px;
    width: 500px;
    animation: 5s ease-in linear;
}

.s{
    position: relative;
    top: 3px;
}

#pitch{
    margin-top: 100px;
    width: 300px;
    padding: 3px;
}

#pitch p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: smaller;
    line-height: 24px;
}

#contact{
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 270px;
}

#contact:hover{
    cursor: pointer;
}

.Arrow{
    stroke-dasharray: 80;
    stroke-dashoffset: 80;
    animation: move 3s linear alternate;
    animation-iteration-count: infinite;
}

@keyframes move{
    to{
        stroke-dashoffset: 0;
    }
}

#sevNav{
    align-self: flex-end;
}

#letter{
    margin-top: 260px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
}

#letter div{
    text-align: center;
    margin-bottom: 60px;
}

#letter div p{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 10px;
}

#contactIcons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
    height: 120px;
}

#contactIcons a{
    position: relative;
    display: inline-block;
    padding: 10px 30px 40px 30px;
    color: white;
    text-decoration: none;
    overflow: hidden;
    transition: 0.6s;
    height: 30px;
    border-radius: 2px;
}

#contactIcons a:hover{
    color: black;
    background: white;
    box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
    transform: translateY(-10px);
    transition-delay: 1s;
}

#contactIcons a:hover i{
    color: black;
    transition-delay: 1s;
}

#contactIcons a span{
    position: absolute;
    display: block;
}

#contactIcons a span:nth-child(1){
    top: 0px;
    left: -100px;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, white);
}

#contactIcons a:hover span:nth-child(1){
    left: 100px;
    transition: 1s;
}

#contactIcons a span:nth-child(3){
    bottom: 0;
    right: -100px;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, white);
}

#contactIcons a:hover span:nth-child(3){
    right: 100px;
    transition: 1s;
    transition-delay: 0.5s;
}

#contactIcons a span:nth-child(2){
    top: -130px;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, white);
}

#contactIcons a:hover span:nth-child(2){
    top: 100px;
    transition: 1s;
    transition-delay: 0.25s;
}

#contactIcons a span:nth-child(4){
    bottom: -130px;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, white);
}

#contactIcons a:hover span:nth-child(4){
    bottom: 100px;
    transition: 1s;
    transition-delay: 0.75s;
}


/* Works.html */


#navBar-work{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}

#navBar-work div{
    margin: 25px 45px 5px;
}

.icon-work{
    stroke-dasharray: 186;
    stroke-dashoffset: 186;
    animation: anima 8s linear;
    animation-iteration-count: infinite;
}

@keyframes anima{
    to{
        stroke-dashoffset: 0;
    }
}

.cont-work{
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
    min-height: 350px;
    margin: 0 20px;
    background: #fff;
}

.swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right{
    background-image: none;
}

.works-div{
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 17px;
    padding-bottom: 10px;
    margin-right: 0;
    -webkit-box-reflect: below 1px linear-gradient(transparent 70%, #0009);
    width: 100%;
}

.works-div .card{
    position: relative;
    width: 100%;
    background: rgb(27, 27, 27);
    margin: 0 auto;
    padding: 100px 40px;
    text-align: center;
    overflow: hidden;
}

.works-div .card .layer{
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: linear-gradient(#03a9f4, #e91ee3);
    transition: 0.5s;
}

.works-div .card:hover .layer{
    top: 0;
}

.works-div .card .content{
    position: relative;
    z-index: 1002;
}

.works-div .card .content p{
    /* font-size: 10px;
    line-height: 24px; */
    margin-bottom: 20px;
}

.works-div .card .content .imgBox{
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    border-radius: 50%;
    border: 4px white solid;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0,0, 0.2)
}

.works-div .card .content h3 span{
    color: #03a9f4;
    transition: 0.5s;
}

.works-div .card:hover .content h3 span{
    color: white;
}

.beside-content-work{
    margin-top: 52px;
}

#sidebar-work{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.works-icon-works{
    position: relative;
    bottom: 10px;
    height: fit-content;
}


/* For mobile */

@media only screen and (max-width: 768px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        
    }

    h1{
        font-family: 'Jura', sans-serif;
        font-weight: 300;
        font-size: 25px;
        margin: auto;
        color: white;
    }

    h2{
        font-family: 'Jura', sans-serif;
        color: white;
    }
    
    h3{
        color: white;
        font-family: 'Jura', sans-serif;
        font-weight: 300;
    }
    
    h4{
        font-family: 'Spinnaker', sans-serif;
        margin: auto;
        font-weight: 100;
        color: white; 
    }
    
    p{
        font-family: 'Exo', sans-serif;
        margin: auto;
        font-weight: 200;
        color: white;
    }
    
    a{
        color:white;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
    }

    a:hover {
    color: rgb(146, 146, 146); 
    text-decoration:none; 
    cursor:pointer;  
    }

    #symbol{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1001;
        font-size: 38px;
        font-weight: 300;
    }
    
    #loading-screen{
        background-color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 70vh;
        padding: 8rem;
        z-index: 1001;
        opacity: 0.8;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .loader{
        background-color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
    }
    
    .signature{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        stroke-dasharray: 200;
        stroke-dashoffset: 800;
        animation: sign 16s linear;
    }
    
    

    #navBar{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: black;
        height: 10vh;
        width: fit-content;
    }
    
    .cantacon{
        height: 37px;
        width: 37px;
        margin: 13px 0px 0 20px;
    }

    #navBar h3{
        font-family: 'Jura', sans-serif;
    }
    
    #navBar div{
        margin: 0;
        width: fit-content;
    }
    
    .cont{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 75vh;
        width: fit-content;
        margin-right: 0;
    }
    
    .focuseffect{
        filter: blur(3px);
    }

    .beside-content{
        margin-left: 0;
        margin: 0;
        height: fit-content;
        width: 100vw;
        padding-top: 7px;
        background-color: black;
    }
    
    .beside-content div{
        height: fit-content;
        margin: 0;
    }

    #sidebar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: fit-content;
        background-color: black;
        align-self: flex-end;
        margin: 0;
    }
    
    #sidebar div{
        margin-top: 0px;
        margin-bottom: 0px;
        height: fit-content;
    }

    .side-icon{
        height: 27px;
        width: 27px;
        stroke-width: 2px;
    }

    .place{
        stroke: white;
        position: relative;
        bottom: -1px;
        height: 28px;
        width: 28px;
        stroke-width: 2px;
    }

    .works-icon{
        position: relative;
        bottom: 3px;
        height: 37px;
        width: 37px;
        stroke-width: 3px;
    }
    
    .contents{
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 80px;
        margin-left: 20px;
        z-index: 1000;
    }
    
    .name{
        width: 20rem;
    }
    
    .intro{
        margin-top: 1.5rem;
        margin-bottom: 0px;
        padding-right: 0px;
        text-align: left;
        padding: 0 0px 0 0;
        width: 320px;
    }
    
    .hello{
        overflow: hidden;
        animation: introduce 17s steps(93);
        white-space: nowrap;
        width: 64.3ch;
        border-right: 2px solid white;
    }

    .mobileHello{
        text-align: left;
        padding-right: 10px;
        height: fit-content;
    }

    .mobileHello p{
        font-family: 'Lato', sans-serif;
        font-weight: 200;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 0;
    }


    /* This is the works div part!!!!!! */


    .project-for-mobile{
        min-height: 70vh;
        display: grid;
        place-items: center;
        overflow-x: hidden;
        background-color: rgb(27, 27, 27);
        padding: 20px;
    }

    .project-card{
        position: relative;
        height: 400px;
        width: 250px;
        overflow: hidden;
        box-shadow: 0px 5px 10px 0px rgba(0, 0,0, 0.2);
        border-radius: 10px;
        background: -webkit-repeating-radial-gradient(#03a9f4, #e91ee3);
        -webkit-box-reflect: below 1px linear-gradient(transparent 80%, #0009);
    }

    .project-detail{
        position: absolute;
        width: 100%;
        height: 250px;
        overflow: hidden;
        background: black;
        z-index: 1;
    }

    .project-detail img{
        position: absolute;
        width: 100px;
        height: 100px;
        object-fit: cover;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        border: 2px solid white;
    }

    .project-detail h3{
        margin-top: 160px;
        text-align: center;
        font-size: 18px;
    }

    .splays{
        position: absolute;
        top: 52%;
        height: 100px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        display: flex;
        justify-content: center;
    }

    .linker{
        text-decoration: none;
        height: 40px;
        width: 40px;
        margin: 7px;
        color: white;
        background: rgb(39, 39, 39);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        transition: 0.4s;
    }

    .linker:hover {
        background-color: white;
        color: black;
        transform: translateY(-10px);
    }

    .wave-container{
        position: absolute;
        width: 100%;
        height: 70%;
        top: 0;
    }

    .wave{
        position: absolute;
        height: 600px;
        width: 600px;
        opacity: 0.6;
        border-radius: 40%;
        left: -200px;
        top: -112%;
        background: black;
        animation: wave 3s infinite linear;
    }


    @keyframes wave{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }

    .wave:nth-child(2){
        animation-delay: 0.2s;
    }

    .wave:nth-child(3){
        animation-delay: 0.3s;
    }


    .foot{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        height: fit-content;
        margin-bottom: 0;
        margin-left: 0;
        margin-top: 10px;
        margin-right: 0;

    }

    .movepage-icon{
        margin: 0 20px 0 20px;
    }



    /* Works div Part up!!!!!! */



 /* //////////////////////////////////////////////////////////////////// */
    #sets{
        display: flex;
        flex-direction: row;
    }
    
    #sets div{
        margin-right: 0px;
        width: 333px;
    }
    
    .split{
        display: flex;
        flex-direction: row;
    }
    
    .line{
        stroke-dasharray: 80;
        stroke-dashoffset: 80;
        animation: underline 8s linear;
        animation-iteration-count: infinite;
    }
    
    .line2{
        stroke-dasharray: 80;
        stroke-dashoffset: 80;
        animation: underline 8s linear;
        animation-iteration-count: infinite;
    }
    
    @keyframes underline {
        to{
            stroke-dashoffset: 0;
        }
    }
    
    .split-list{
        margin-right: 90px;
    }
    
    .split-list p{
        font-family: 'Exo', sans-serif;
        font-weight: 100;
        font-size: 14px;
        line-height: 20px;
    }
    
    .works-div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 94px 30px 30px 100px;
    }
    
    .icon:hover{
        cursor: none;
    }
    
    .portfolio:hover{
        cursor: none;
    }
    
    #line{
       
    }

    .movepage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: black;
        padding-top: 40px;
        padding-right: 0;
        width: 77vw;
        height: 70vh;
        opacity: 0.83;
        z-index: 2000;
        border-right: 1px solid rgb(82, 81, 81);
        border-bottom: 1px solid rgb(82, 81, 81);
    }

    .shiftout{
        position: absolute;
        top: 10vh;
        left: -100vw;
    }

    .shiftin{
        position: absolute;
        top: 10vh;
        left: 0;
    }

    .allrights{
        display: flex;
        flex-direction: column;
        width: 60vw;
        text-align: center;
        height: 100vh;
        margin-right: 0;
        margin-left: 25px;
        margin-bottom: 0;
        margin-top: 107px;
        
    }

    h5{
        size: 70px;
        font-family: 'spinnaker', sans-serif;
        font-weight: 100;
        margin: 0;
        color: white;
    }

    .quote{
        margin-bottom: 20px;
    }

    .quote h5{
        size: 0.1px;
        line-height: 20px;
        font-weight: 200;
        font-family: 'Poppins', sans-serif
    }

    .quote1{

    }

    .quote1 h5{
        size: 0.1px;
        line-height: 20px;
        font-weight: 200;
        font-family: 'Poppins', sans-serif
    }

    .movepage-div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 77vw;
        height: fit-content;
        margin-bottom: 0;
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0;
        padding: 10px 10px 10px 10px;
        background-color: black;
        z-index: 2003;
        border-right: 1px solid rgb(82, 81, 81);
    }

    .movepage-icon{
        margin: 40px 20px 0 20px;
    }



    /* for services */
    

    #servicesContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }
    
    .panel{
        margin-left: 20px;
        width: 300px;
        animation: 5s ease-in linear;
        margin-right: 0;
    }

    .s{
        position: relative;
        top: 3px;
    }
    
    #pitch{
        margin-top: 60px;
        width: 320px;
        padding: 3px;
    }
    
    #pitch p{
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: smaller;
        line-height: 24px;
        width: 300px;
    }
    
    #contact{
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        transform: rotate(0deg);
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        position: absolute;
        top: 70vh;
        left: 0;
    }

    .needed-margin{
        margin-top: 30px;
    }
    
    .position1{
        transform: rotate(0deg);
    }

    .reposition{
        transform: rotate(180deg);
        margin-left: 280px;
    }

    #contact:hover{
        cursor: pointer;
    }
    
    .Arrow{
        stroke-dasharray: 80;
        stroke-dashoffset: 80;
        animation: move 3s linear alternate;
        animation-iteration-count: infinite;
    }
    
    @keyframes move{
        to{
            stroke-dashoffset: 0;
        }
    }
    
    #sevNav{
        align-self: flex-end;
    }
    
    #letter{
        margin-top: 20px;
        margin-right: 0px;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
    
    #letter div{
        text-align: center;
        margin-bottom: 60px;
    }
    
    #letter div p{
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 10px;
    }
    
    #contactIcons{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 300px;
        height: fit-content;
    }
    
    #contactIcons a{
        position: relative;
        display: inline-block;
        padding: 10px 30px 40px 30px;
        color: white;
        text-decoration: none;
        overflow: hidden;
        transition: 0.6s;
        height: 30px;
        border-radius: 2px;
    }
    
    #contactIcons a:hover{
        color: black;
        background: white;
        box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
        transform: translateY(-10px);
        transition-delay: 1s;
    }
    
    #contactIcons a:hover i{
        color: black;
        transition-delay: 1s;
    }
    
    #contactIcons a span{
        position: absolute;
        display: block;
    }
    
    #contactIcons a span:nth-child(1){
        top: 0px;
        left: -100px;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, white);
    }
    
    #contactIcons a:hover span:nth-child(1){
        left: 100px;
        transition: 1s;
    }
    
    #contactIcons a span:nth-child(3){
        bottom: 0;
        right: -100px;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, white);
    }
    
    #contactIcons a:hover span:nth-child(3){
        right: 100px;
        transition: 1s;
        transition-delay: 0.5s;
    }
    
    #contactIcons a span:nth-child(2){
        top: -130px;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, white);
    }
    
    #contactIcons a:hover span:nth-child(2){
        top: 100px;
        transition: 1s;
        transition-delay: 0.25s;
    }
    
    #contactIcons a span:nth-child(4){
        bottom: -130px;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, white);
    }
    
    #contactIcons a:hover span:nth-child(4){
        bottom: 100px;
        transition: 1s;
        transition-delay: 0.75s;
    }

    .my-card-base{
        padding: 3px;
        background: linear-gradient(235deg, #fff, #010615, #fff);
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .for-services{
        margin-top: 60px;
    }

    .blur{
        filter: blur(3px);
    }

    #my-card{
        display: flex;
        flex-direction: column;
        padding: 10px;
        overflow: hidden;
        background-color: black;
        border-radius: 10px;
    }

    #my-card .upper-div{
        display: flex;
        flex-direction: row;
    }

    .Comp-Card-Title{
        display: flex;
        flex-direction: column;
        z-index: 3;
    }

    #comp-card-icon{
        position: relative;
        top: 6px;
    }

    .Comp-Card-Title h1{
        
    }

    .Comp-Card-Title div{
        position: relative;
        top: -20px;
        margin-top: 0px;
        padding-left: 20px;
    }

    .Comp-Card-Title div p{
        position: relative;
        left: 7px;
        font-size: 12px;
        letter-spacing: 1px;
    }

    video{
        position: relative;
        right: 80px;
        height: 140px;
        width: 300px;
        z-index: 1;
    }

    .underline{
        position: relative;
        left: 0px;
        top: -8px;
        stroke-dasharray: 180;
        stroke-dashoffset: 0;
        animation: underliner 17s linear alternate;
    }

    /* @keyframes underliner{
        to{
            stroke-dashoffset: 180;
        }
    } */

    .Comp-card-bottom{

    }

    .commenter{
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }

    .commenter p{
        position: relative;
        top: -15px;
        font-size: 10px;
    }

    .social-container{
        position: relative;
        top: -10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 130px;
        padding-left: 30px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .whatsapp{
        background: black;
        border: chartreuse 2px solid;
        box-shadow: 0 0 15px chartreuse,
                    inset 0 0 5px chartreuse;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .{
        animation: color 5s infinite;
        animation-delay: 10s;
    }



    .social-base{
        background: black;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    .twitter{
        background: black;
        border: 2px solid #1DA1F2;
        box-shadow: 0 0 15px #1DA1F2,
                    inset 0 0 5px #1DA1F2;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .instagram{
        background: black;
        border: 2px solid #C13584;
        box-shadow: 0 0 15px #C13584,
                    inset 0 0 2px #C13584;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ::-webkit-scrollbar{
        width: 12px;
    }

    #progressbar{
        position: fixed;
        top: 10vh;
        right: 0;
        width: 5px;
        background: linear-gradient(0deg, #24c6dc , #514a9d);
        border-radius: 8px;
        z-index: 4;
    }



}








